 body{
    background: url("../image/c.jpg");
    background-size: cover;
    background-position:center;
}

#card-recipe{
    background: url("../image/2.jpg");
} 

#card{
    color: orange;
} 

.big-quote{
    margin-top: 180px;
    margin-left: 440px;
    color: green;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.nb-person{
    color: teal;
}